@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  scrollbar-color: #2b82fb;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #2b82fb;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2b82fbad;
}

::-webkit-scrollbar-track {
  background-color: rgba(52, 131, 196, 0.247);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
